
<%-include("../../views/partials/admin/admin-header")%>

    <link rel="stylesheet" href="/stylesheets/adminStyle.css">

    <!-- Content -->
    <div class="content">
        <!-- Orders Section -->
        <div id="orders-content">
            <h1>Orders</h1>
            <div class="row mb-3">
                <!-- Filter Dropdown -->
        <div class="dropdown">
            <button class="btn dropdown-btn btn-primary dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown"
              aria-expanded="false">
              Filter by Status
            </button>
            <ul class="dropdown-menu" aria-labelledby="filterDropdown" >
                    
                  <li><a class="dropdown-item" href="/admin/filter?orderStatus=All %>">All</a></li>
                  <li><a class="dropdown-item" href="/admin/filter?orderStatus=Pending %>">Pending</a></li>
                  <li><a class="dropdown-item" href="/admin/filter?orderStatus=Shipped %>">Shipped</a></li>
                  <li><a class="dropdown-item" href="/admin/filter?orderStatus=Delivered %>">Delivered</a></li>
                  <li><a class="dropdown-item" href="/admin/filter?orderStatus=Cancelled %>">Cancelled</a></li>
                  <li><a class="dropdown-item" href="/admin/filter?orderStatus=Return%20Request %>">Return Request</a></li>
                  <li><a class="dropdown-item" href="/admin/filter?orderStatus=Approved%20Return%20Request %>">Approved Return Request</a></li>
                  <li><a class="dropdown-item" href="/admin/filter?orderStatus=Returned %>">Returned</a></li>
             
             </ul>
          </div>
                
            </div>
            <table class="table table-bordered table-hover mt-3">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>User Name</th>
                        <th>Order Date</th>
                        <th>Delivery Status</th>
                        <th>Total Amount</th>
                        <th>Products</th>
                        <th>Payment Method</th>
                        <th>Payment Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="orders-list">
                    
                <% orders.forEach((order)=>{%>    
                    
                    <tr>
                        <td><%= order.orderId %></td>
                        <td><%= order.user.name%></td>
                        <td><%= order.createdAt.toDateString()%></td>
                        <td><%= order.status%></td>
                        <td><i class="fa-solid fa-indian-rupee-sign"></i> <%= order.finalAmount %></td>
                        <td>
                            <% order.orderItems.forEach(item => {%>
                                Product ID: <%= item.product._id %>, <br>
                                Name: <%= item.product.productName%>
                            <%})%>    
                        </td>
                        <td><%= order.paymentMethod%></td>
                        <td><%= order.paymentStatus%></td>
                        <td>
                           <div  class="d-inline-block p-2">

                                <div class="dropdown-center" style=" width: 85px;">
                                    <button class="btn dropdown-btn dropdown-toggle p-1" type="button"
                                        id="customersDropdown" data-bs-toggle="dropdown" aria-expanded="false"
                                        style="border: 1px solid rgb(102, 100, 100); border-radius: 10px;">
                                        Delivery
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="customersDropdown">

                                        <li><a class="dropdown-item dropdown-items unblock-btn "
                                                href="/admin/pending?id=<%= order._id%>">Pending</a></li>

                                        <li><a class="dropdown-item dropdown-items unblock-btn "
                                                href="/admin/shipping?id=<%= order._id%>">Shipping</a></li>
                                        <li><a class="dropdown-item dropdown-items unblock-btn "
                                            href="/admin/delivered?id=<%= order._id%>">Delivered</a></li>
                                        <li><a class="dropdown-item dropdown-items block-btn "
                                            href="/admin/cancelled?id=<%= order._id%>">Cancelled</a></li>
                                        <li><a class="dropdown-item dropdown-items block-btn "
                                                href="/admin/rejected?id=<%= order._id%>">Return Request Rejected</a></li> 
                                        <li><a class="dropdown-item dropdown-items unblock-btn "
                                                    href="/admin/approvedReturnReq?id=<%= order._id%>">Approved Return request</a></li> 
                                        <li><a class="dropdown-item dropdown-items unblock-btn "
                                                    href="/admin/returned?id=<%= order._id%>">Returned</a></li>       


                                    </ul>
                                </div> 
                           
                           </div>
                        </td>
                    </tr>
                  
                    
                <%})%>    
                    
                    
                </tbody>
            </table>

             <!-- Pagination Controls -->
             <div class="pagination-container mt-4">
                <div class="pagination">
                    <% if (currentPage > 1) { %>
                        <a href="?page=<%= currentPage - 1 %><% if (orderStatus) { %>&orderStatus=<%= orderStatus %><% } %>">&laquo; Previous</a>
                    <% } %>
                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <% if (i === currentPage) { %>
                            <span class="current-page"><%= i %></span>
                        <% } else { %>
                            <a href="?page=<%= i %><% if (orderStatus) { %>&orderStatus=<%= orderStatus %><% } %>"><%= i %></a>
                        <% } %>
                    <% } %>
                    <% if (currentPage < totalPages) { %>
                        <a href="?page=<%= currentPage + 1 %><% if (orderStatus) { %>&orderStatus=<%= orderStatus %><% } %>">Next &raquo;</a>
                    <% } %>
                </div>
            </div>
            

        </div>

        
    </div>


    <%-include("../../views/partials/admin/admin-footer")%>   


    <script>
        document.querySelectorAll('.dropdown-items').forEach(item => {
            item.addEventListener('click', async (event) => {
                event.preventDefault();
                const url = event.target.href;
        
                try {
                    const response = await fetch(url, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    const data = await response.json();
        
                    if (data.delivered) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Cannot change the status. Order already delivered',
                        });
                    }else if(data.cancelled){
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Cannot change the status. User already cancelled.',
                        });

                    }else if(data.noReturnRequest){
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Cannot change the status. User not request for return.',
                        });

                    }else if(data.notApproved){
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Cannot change the status. Return request is not approved.',
                        });

                    }else if(data.returnRequest){
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Cannot change the status. User already request for return.',
                        });

                    }else if(data.approvedReturnRequest){
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Cannot change the status. Already approved return request.',
                        });

                    }else if(data.returned){
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Cannot change the status. Order already returned.',
                        });

                    }else if(data.returnRequestRejected){
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Cannot change the status. Return request already rejected.',
                        });

                    } else if (data.success) {
                        
                        window.location.reload();
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'An error occurred. Please try again.',
                        });
                    }
                } catch (error) {
                    console.error('Error:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'An error occurred. Please try again.',
                    });
                }
            });
        });
        </script>