
<%-include("../../views/partials/admin/admin-header")%>

    <link rel="stylesheet" href="/stylesheets/adminStyle.css">

    <!-- Content -->
    <div class="content">
        <!-- Orders Section -->
        <div id="orders-content">
            <h1>Orders</h1>
            <div class="row mb-3">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Search Orders">
                </div>
                
            </div>
            <table class="table table-bordered table-hover mt-3">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>User Name</th>
                        <th>Order Date</th>
                        <th>Delivery Status</th>
                        <th>Total Amount</th>
                        <th>Products</th>
                        <th>Payment Method</th>
                        <th>Payment Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="orders-list">
                    
                <% orders.reverse().forEach((order)=>{%>    
                    
                    <tr>
                        <td><%= order.orderId %></td>
                        <td><%= order.user.name%></td>
                        <td><%= order.createdAt.toDateString()%></td>
                        <td><%= order.status%></td>
                        <td><%= order.finalAmount %></td>
                        <td>
                            <% order.orderItems.forEach(item => {%>
                                Product ID: <%= item.product._id %>, <br>
                                Name: <%= item.product.productName%>
                            <%})%>    
                        </td>
                        <td><%= order.paymentMethod%></td>
                        <td><%= order.paymentStatus%></td>
                        <td>
                           <div  class="d-inline-block p-2">

                                <div class="dropdown-center" style=" width: 85px;">
                                    <button class="btn dropdown-btn dropdown-toggle p-1" type="button"
                                        id="customersDropdown" data-bs-toggle="dropdown" aria-expanded="false"
                                        style="border: 1px solid rgb(102, 100, 100); border-radius: 10px;">
                                        Delivery
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="customersDropdown">

                                        <li><a class="dropdown-item unblock-btn "
                                                href="/admin/pending?id=<%= order._id%>">Pending</a></li>

                                        <li><a class="dropdown-item unblock-btn "
                                                href="/admin/shipping?id=<%= order._id%>">Shipping</a></li>
                                        <li><a class="dropdown-item unblock-btn "
                                            href="/admin/delivered?id=<%= order._id%>">Delivered</a></li>
                                        <li><a class="dropdown-item block-btn "
                                            href="/admin/cancelled?id=<%= order._id%>">Cancelled</a></li> 
                                        <li><a class="dropdown-item unblock-btn "
                                                href="/admin/returnReq?id=<%= order._id%>">Return request</a></li> 
                                        <li><a class="dropdown-item unblock-btn "
                                                    href="/admin/returned?id=<%= order._id%>">Returned</a></li>       


                                    </ul>
                                </div> <br>
                                <div class="dropdown-center" style=" width: 85px;">
                                    <button class="btn dropdown-btn dropdown-toggle p-1" type="button"
                                        id="customersDropdown" data-bs-toggle="dropdown" aria-expanded="false"
                                        style="border: 1px solid rgb(102, 100, 100); border-radius: 10px;">
                                        Payment
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="customersDropdown">

                                        <li><a class="dropdown-item unblock-btn "
                                                href="/admin/paymentPending?id=<%= order._id%>">Pending</a></li>

                                        <li><a class="dropdown-item unblock-btn "
                                                href="/admin/Paid?id=<%= order._id%>">Paid</a></li>
                                        

                                    </ul>
                                </div>
                           
                           </div>
                        </td>
                    </tr>
                  
                    
                <%})%>    
                    
                    
                </tbody>
            </table>

             <!-- Pagination Controls -->
             <div class="pagination-container mt-4 ">
                <div class="pagination">
                    <% if (currentPage> 1) { %>
                        <a href="?page=<%= currentPage - 1 %>">&laquo; Previous</a>
                        <% } %>
                            <% for (let i=1; i <=totalPages; i++) { %>
                                <% if (i===currentPage) { %>
                                    <span class="current-page">
                                        <%= i %>
                                    </span>
                                    <% } else { %>
                                        <a href="?page=<%= i %>">
                                            <%= i %>
                                        </a>
                                        <% } %>
                                            <% } %>
                                                <% if (currentPage < totalPages) { %>
                                                    <a href="?page=<%= currentPage + 1 %>">Next &raquo;</a>
                                                    <% } %>
                </div>
            </div>

        </div>

        <!-- View Order Details Page -->
        <div id="viewOrderDetails" style="display: none;">
            <div class="row p-3 mb-3">
                <div class="col-md-6">
                    <h2>Order Information</h2>
                <p><strong>Order ID:</strong> <span id="viewOrderId"></span></p>
                <p><strong>User ID:</strong> <span id="viewUserId"></span></p>
                <p><strong>Order Date:</strong> <span id="viewOrderDate"></span></p>
                <p><strong>Status:</strong> <span id="viewOrderStatus"></span></p>
                <p><strong>Total Amount:</strong> <span id="viewOrderTotal"></span></p>
                </div>
                
                <div id="viewProductInfo" class="col-md-6">
                    <h3>Product Information</h3>
                    <p><strong>Product ID:</strong></p>
                    <p><strong>Name:</strong></p>
                    <p><strong>Quantity:</strong></p>
                    <p><strong>price:</strong></p>
                    <p><strong>Size:</strong></p>
                    <p><strong>Color:</strong></p>
                    <p><strong>Total:</strong></p>
                </div>
            </div>
            
            <div class="row p-3 mb-3">
                <div class="col-md-6">
                    <h3>Shipping Information</h3>
                <p><strong>Shipping Address:</strong> <span id="viewShippingAddress"></span></p>
                </div>
                <div class="col-md-3">
                    <h3>Payment Information</h3>
                <p><strong>Payment Method:</strong> <span id="viewPaymentMethod"></span></p>
                <p><strong>Payment Status:</strong> <span id="viewPaymentStatus"></span></p>
                </div>
                <div class="col-md-3">
                    <h3>Delivery Information</h3>
                <p><strong>Tracking Number:</strong> <span id="viewTrackingNumber"></span></p>
                <p><strong>Delivery Date:</strong> <span id="viewDeliveryDate"></span></p>
                </div>
            </div>
            <button class="btn btn-danger" onclick="closeViewOrder()">Close</button>
        </div>

        <!-- Edit Order Page -->
        <div id="editOrderDetails" style="display: none;">
            <div class="p-5">
                <h2>Edit Order</h2>
                <form id="editOrderForm">
                    <div class="mb-4">
                        <p><strong>Order ID:</strong> <span id="editOrderId">12345</span></p>
                        <p><strong>User Name:</strong> <span id="editUserName">Anna</span></p>
                        <p><strong>Product ID:</strong> <span id="editProductId">1</span></p>
                    </div>
                    <div class="form-group">
                        <label for="editOrderStatus">Order Status</label>
                        <select class="form-control" id="editOrderStatus">
                            <option value="" selected>Select status</option>
                            <option>Pending</option>
                            <option>Shipped</option>
                            <option>Delivered</option>
                            <option>Cancelled</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editProductQuantity">Product Quantity</label>
                        <input type="number" class="form-control" id="editProductQuantity">
                    </div>
                    <div class="form-group">
                        <label for="editProductDetails">Product Details</label>
                        <input type="text" class="form-control" id="editProductDetails">
                    </div>
                    <div class="form-group">
                        <label for="editShippingAddress">Shipping Address</label>
                        <input type="text" class="form-control" id="editShippingAddress">
                    </div>
                    <div class="form-group">
                        <label for="editPaymentStatus">Payment Status</label>
                        <select class="form-control" id="editPaymentStatus">
                            <option value="" selected>Select Payment Status</option>
                            <option>Paid</option>
                            <option>Pending</option>
                            <option>Failed</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editTrackingNumber">Tracking Number</label>
                        <input type="text" class="form-control" id="editTrackingNumber">
                    </div>
                    <div class="form-group">
                        <label for="editDeliveryDate">Delivery Date</label>
                        <input type="date" class="form-control" id="editDeliveryDate">
                    </div>
                    <button type="button" class="btn btn-danger" onclick="closeEditOrder()">Cancel</button>
                    <button type="button" class="btn btn-primary" id="saveOrderChanges">Save Changes</button>
                </form>
            </div>
        </div>

        
    </div>


    <%-include("../../views/partials/admin/admin-footer")%>   


    <script>
        document.querySelectorAll('.dropdown-item').forEach(item => {
            item.addEventListener('click', async (event) => {
                event.preventDefault();
                const url = event.target.href;
        
                try {
                    const response = await fetch(url, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    const data = await response.json();
        
                    if (data.delivered) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Cannot change the status. The order is already delivered.',
                        });
                    }else if(data.paid){
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Cannot change the status. User already Paid.',
                        });

                    } else if (data.success) {
                        
                        window.location.reload();
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'An error occurred. Please try again.',
                        });
                    }
                } catch (error) {
                    console.error('Error:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'An error occurred. Please try again.',
                    });
                }
            });
        });
        </script>