<%-include("../../views/partials/admin/admin-header")%>

    <link rel="stylesheet" href="/stylesheets/adminStyle.css">

    <!-- Content -->
    <div class="content">
        <!-- Category Section -->
        <div id="categorySection" class="container">
            <h1>Categories</h1>
            <div class="search-filter mb-3 mt-3">
                <input type="text" id="searchCategory" placeholder="Search Categories"
                    class="form-control d-inline-block" style="width: 300px;" />
                <button id="filterBtn" class="btn btn-secondary">Filter</button>
                <button id="addCategoryBtn" class="btn btn-primary" onclick="showAddCategoryPage()">Add
                    Category</button>
            </div>

            <table class="table table-bordered table-hover mt-3">
                <thead>
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="categoryTableBody">
                    <%cat.reverse().forEach((category,index)=>{%>
                        <tr>
                            <td>
                                <%=category._id%>
                            </td>
                            <td>
                                <%=category.name%>
                            </td>
                            <td>
                                <%=category.description%>
                            </td>
                            <td>
                                <%=category.isListed ? 'Listed' : 'Unlisted' %>
                            </td>
                            <td>
                                <div class="d-flex">
                                    <div class="dropdown-center" style=" width: 85px;">
                                        <button class="btn dropdown-btn dropdown-toggle p-1" type="button"
                                            id="customersDropdown" data-bs-toggle="dropdown" aria-expanded="false"
                                            style="border: 1px solid rgb(102, 100, 100); border-radius: 10px;">
                                            Status
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="customersDropdown">

                                            <li><a class="dropdown-item block-btn "
                                                    href="/admin/listCategory?id=<%= category._id%>">Unlisted</a></li>

                                            <li><a class="dropdown-item unblock-btn "
                                                    href="/admin/unlistCategory?id=<%= category._id%>">Listed</a></li>

                                        </ul>
                                    </div>

                                    <a class="editBtn btn btn-warning" 
                                        href="/admin/editCategory?id=<%= category._id%>">Edit</a>
                                    <button class="deleteBtn btn btn-danger"  onclick="confirmDelete('<%= category._id %>')" >Delete</button>
                                </div>
                            </td>
                        </tr>

                        <%})%>
                </tbody>
            </table>

            <!-- Pagination Controls -->
            <div class="pagination-container mt-4 ">
                <div class="pagination">
                    <% if (currentPage> 1) { %>
                        <a href="?page=<%= currentPage - 1 %>">&laquo; Previous</a>
                        <% } %>
                            <% for (let i=1; i <=totalPages; i++) { %>
                                <% if (i===currentPage) { %>
                                    <span class="current-page">
                                        <%= i %>
                                    </span>
                                    <% } else { %>
                                        <a href="?page=<%= i %>">
                                            <%= i %>
                                        </a>
                                        <% } %>
                                            <% } %>
                                                <% if (currentPage < totalPages) { %>
                                                    <a href="?page=<%= currentPage + 1 %>">Next &raquo;</a>
                                                    <% } %>
                </div>
            </div>


        </div>

        <!-- Add Category Modal -->
        <div id="addCategoryModal" style="display: none;">

            <div class="d-flex justify-content-center align-items-center">
                <div class="p-5 col-md-6 border rounded shadow-sm" style="background-color: #f8f9fa;">

                    <span class="close" onclick="closeAddCategoryModal()">&times;</span>
                    <h2>Add Category</h2>
                    <form id="addCategoryForm" method="post" action="/admin/addCategory"
                        onsubmit="return handleFormSubmit(event)">
                        <div class="mb-3">
                            <label for="addCategoryName">Category Name:</label>
                            <input type="text" class="form-control" id="addCategoryName" name="name" />
                            <div id="name-error" class="error-message"></div>

                        </div>
                        <div class="mb-3">
                            <label for="descriptionId">Description:</label>
                            <textarea class="form-control" id="descriptionId" name="description" rows="3"></textarea>
                            <div id="description-error" class="error-message"></div>
                        </div>


                        <button class="btn btn-primary" type="submit">Add Category</button>
                    </form>
                </div>
            </div>
        </div>


        <!-- View Category Modal -->
        <div id="viewCategoryModal" style="display: none;">

            <div class="d-flex justify-content-center align-items-center">
                <div class="p-5 col-md-6 border rounded shadow-sm" style="background-color: #f8f9fa;">

                    <span class="close" onclick="closeAddCategoryModal()">&times;</span>
                    <h2>View Category</h2>
                    <div id="categoryDetails">
                        <p><strong>Category ID:</strong> <span id="viewCategoryId"></span></p>
                        <p><strong>Category Name:</strong> <span id="viewCategoryName"></span></p>
                        <p><strong>Description:</strong> <span id="viewCategoryDescription"></span></p>
                        <p><strong>Date Added:</strong> <span id="viewCategoryDate"></span></p>
                        <p><strong>Status:</strong> <span id="viewCategoryStatus"></span></p>
                        <p><strong>Image:</strong></p>
                        <img id="viewCategoryImage" src="" alt="Category Image" style="width: 100px; height: 100px;" />
                    </div>
                    <button type="button" class="btn btn-secondary" onclick="hideViewCategoryPage()">Close</button>
                </div>
            </div>
        </div>



    </div>



    <script>
        function showAddCategoryPage() {
            document.getElementById('addCategoryModal').style.display = 'block';
            document.getElementById('categorySection').style.display = 'none';
        }

        function closeAddCategoryModal() {
            document.getElementById('addCategoryModal').style.display = 'none';
            document.getElementById('categorySection').style.display = 'block';
        }


        function handleFormSubmit(event) {

            event.preventDefault();
            if (!validateForm()) {
                return
            }

            const name = document.getElementsByName('name')[0].value;
            const description = document.getElementById('descriptionId').value;

            fetch('/admin/addCategory', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({ name, description })
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(err => {
                            throw new Error(err.error);
                        })
                    }
                    return response.json();
                })
                .then(data => {
                    location.reload();
                })
                .catch(error => {
                    if (error.message === 'Category already exists') {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops',
                            text: 'Category already exists'
                        })

                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops',
                            text: 'An error occured while adding the category',
                        })
                    }
                })

        }


        function validateForm() {
            clearErrorMessage();

            const name = document.getElementsByName('name')[0].value.trim();
            const description = document.getElementById('descriptionId').value.trim();
            isValid = true;


            if (name === '') {
                displayErrorMessage('name-error', 'Please enter  name');
                isValid = false;
            } else if (!/^[a-zA-Z\s]+$/.test(name)) {
                displayErrorMessage('name-error', 'Category name should contain only alphabetic characters');
                isValid = false;
            }
            if (description === '') {
                displayErrorMessage('description-error', 'Please enter a description');
                isValid = false;
            }

            return isValid;
        }


        function displayErrorMessage(elementId, message) {
            var errorElement = document.getElementById(elementId);
            errorElement.innerText = message;
            errorElement.style.display = 'block';
        }

        function clearErrorMessage() {
            const errorElements = document.getElementsByClassName('error-message');
            Array.from(errorElements).forEach((element) => {
                element.innerText = '';
                element.style.display = 'none';
            })
        }

        async function confirmDelete(categoryId) {
    const result = await Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
    });

    if (result.isConfirmed) {
        // Proceed with the deletion
        try {
            const response = await fetch(`/admin/deleteCategory?id=${categoryId}`, {
                method: 'DELETE'
            });

            if (response.ok) {
                Swal.fire(
                    'Deleted!',
                    'Your category has been deleted.',
                    'success'
                ).then(() => {
                    // Redirect or refresh the page to update the category list
                    window.location.reload();
                });
            } else {
                Swal.fire(
                    'Error!',
                    'There was an error deleting the category.',
                    'error'
                );
            }
        } catch (error) {
            console.error('Error deleting category:', error);
            Swal.fire(
                'Error!',
                'An error occurred while deleting the category.',
                'error'
            );
        }
    }
}


    </script>



    <%-include("../../views/partials/admin/admin-footer")%>