<%-include("../../views/partials/user/user-header")%>

  <link rel="stylesheet" href="/stylesheets/coupon.css">



  <div class="container mt-5">
    <h2 class="mb-4 text-center">Coupons</h2>
    <div class="row justify-content-center">
        <!-- Coupons Display Section -->
        <div class="col-12 coupon-sec">
            <div class="row justify-content-center " style="text-align: center; margin: 10px; padding: 10px; border-radius: 25px; border: 1px solid rgb(202, 194, 194);">
                <!-- Coupon Card -->
                               
                <%if(coupon.length > 0){%>
                    <%for(let i=0; i<coupon.length; i++){%>
                    
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                            <div class="coupon-card">
                                <div class="coupon2-header">
                                    <h5 class="coupon1-title"><%= coupon[i].name%></h5>
                                    <p class="coupon2-subtitle">Save <%= coupon[i].offerPrice%>% discount on products</p>
                                </div>
                                <div class="coupon2-body">
                                    <p class="coupon1-save">Valid Until:</p>
                                    <p class="coupon1-half-price"><%= coupon[i].expireOn.toISOString().split('T')[0]%></p>
                                    <p class="coupon1-code">Coupon Code: <strong><%= coupon[i].couponCode%></strong></p>
                                    <a href="/cart?couponCode=<%= coupon[i].couponCode%>" class="btn btn-primary2 w-100">Apply Coupon</a>
                                </div>
                            </div>
                        </div>
                        
                   <%}%>
                <%}else{%>

                    <p class="p-5" style="color: red;">Empty</p>

                <%}%>
                

            </div>
        </div>
    </div>
   
</div>




<%-include("../../views/partials/user/user-footer")%>
   