
    <%-include("../../views/partials/user/user-header")%>

    <link rel="stylesheet" href="/stylesheets/home.css">
    
<!-- Home Page Content -->
 <div class="intro">
       <section id="introduction" class="text-center mb-5">
         <h1>Welcome to Knitzy</h1>
         <p>Unwind With Yarn Magic.</p>
       </section>
    </div>
  <!-- Introduction Section -->
  <div class="container-fluid mt-5">
    
   
 
   <!-- Offers Section -->
     <div class="container" style="display: none;">
       <section id="offers" class="mb-5">
         <h2>Special Offers</h2>
         <div class="row justify-content-center"> <!-- Keep justify-content-center -->
             <div class="col-md-8"> <!-- Change to col-md-8 to allow for centering -->
                 <div class="offer-card shadow mx-auto"> <!-- Added mx-auto to center the card -->
                     <img src="" class="offer-card-img" alt="20% Off on Animal Dolls">
                     <div class="offer-card-body">
                         <h5 class="offer-card-title"><i class="fas fa-star"></i> 20% Off on Animal Dolls</h5>
                         <p class="offer-card-text">Get 20% off on all animal crochet dolls. Don't miss out on this limited time offer!</p>
                         <a href="#" class="offer-card-btn btn btn-primary">Shop Now</a>
                     </div>
                 </div>
             </div>
         </div>
       </section>
     </div>
 
 
     <!-- Product Categories Section -->
     <section id="categories" style="border: 1px solid rgba(214, 210, 210, 0.993); border-radius: 10px;">
       <h2 style="font-weight: 600;">Explore Our Products</h2>
       <div class="row">
        
        <%for(let i=0; i<products.length; i++){%>

        <div class="col-md-2">
           <div class="card shadow">
            <div class="product-img-zoom">
              <a href="/productDetails?id=<%=products[i]._id%>">
                <img src="<%=products[i].productImage[0]%>" class="card-img-top" alt="<%=products[i].productName%>">
              </a>
            </div>
             <div class="card-body">
               <h5 class="card-title"><span><%=products[i].productName%></span></h5>
               <p class="card-text category-description "><%=products[i].description%></p>
               
               <p class="product-card-price"><i class="fa-solid fa-indian-rupee-sign"></i><%=products[i].salePrice.toLocaleString('en-IN')%> <span class="text-muted"><strike><i class="fa-solid fa-indian-rupee-sign"></i><%=products[i].regularPrice.toLocaleString('en-IN')%></strike></span> 
                <%if(products[i].productOffer && new Date(products[i].productOffer.startDate) <= new Date() && new Date(products[i].productOffer.endDate) >= new Date() && products[i].productOffer.status === 'Active'){%>
                  <span style="font-size: 1rem; color: green;"><%= products[i].productOffer.discountPercentage%> %off</span>
                 <%}%> 
              </p>

               <%if( wishlist.includes(products[i]._id.toString()) ){%>
                    <a class="wishlist-btn" href="/addToWishlist?productId=<%=products[i]._id%>" style="color: red;" >♡</a>
               <%}else{%>
                   <a class="wishlist-btn" href="/addToWishlist?productId=<%=products[i]._id%>" >♡</a>
               <%}%>

               <%if(products[i].quantity === 0){%>
                  <p><b><%=products[i].status%></b></p>
                <%} else {%>

                  <a href="javascript:void(0);" onclick="addToCart('<%= products[i]._id%>')" class="btn btn-primary" style="border-radius: 8px;"><i
                    class="fas fa-shopping-cart mr-2"></i>Add to Cart</a>
                <%}%>
             </div>
           </div>
         </div>

         <%}%>
         
       </div>
     </section>
   </div>


   <script>

      
    function addToCart(productId){
      fetch(`/addToCart?productId=${productId}`,{
        method: 'GET',
        credentials: 'same-origin'
      })
      .then(response =>{
        if(response.ok){
          console.log('Product added to cart');
          return response.json();
        }else{
          console.error('Failed to add product to cart');
        }
      })
      .then(data =>{
        console.log('Product added to cart');
        document.getElementById('cart-quantity').textContent = data.cartQuantity; 
      })
      .catch(error =>{
        console.error('Error: ',error);
      })
    }


    document.querySelectorAll('.wishlist-btn').forEach(button => {
    button.addEventListener('click', function(event) {
      event.preventDefault();

      const productId = new URL(this.href).searchParams.get('productId');
      console.log('Product Id: ',productId);

      fetch(`/addToWishlist?productId=${productId}`, {
        method: 'GET',
        credentials: 'same-origin'
      })
      .then(response => {
        if (response.ok) {
          return response.json();
        } else {
          console.error('Failed to update wishlist');
        }
      })
      .then(data => {
        if (data.added) {
          this.style.color = 'red';
        } else {
          this.style.color = '';
        }
      })
      .catch(error => {
        console.error('Error: ', error);
      });
    });
  });


   </script>
 
<%-include("../../views/partials/user/user-footer")%>