

<%-include("../../views/partials/user/user-header")%>

<link rel="stylesheet" href="/stylesheets/productDetails.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.rawgit.com/elevateweb/elevatezoom/2.5.5/jquery.elevatezoom.min.js"></script>


 
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active " aria-current="page"><%= product.productName%></li>
  </ol>
</nav>

  <!-- Product Details Content -->
  <div class="container product-dtls mt-5">
    <div class="row productDetails-card" style="border: 1px solid rgb(204, 201, 201); padding: 20px; border-radius: 25px;">
      <!-- Product Image Gallery -->
      <div class="col-md-6">

        <%if(product.productImage && product.productImage.length>0 ){%>
          <div class="main-image d-flex justify-content-center" id="imageZoom">
            <a href="#" id="zoomLink"  >
              <img id="mainProductImage" src="<%= product.productImage[0] %>" alt="Product Image" class="img-fluid rounded w-90"  data-zoom-image="<%= product.productImage[0] %>">
            </a>
          </div>
        <div class="thumbnail-gallery d-flex justify-content-center mt-3">
          
          <%product.productImage.forEach(function(image,index){ %>
          
            <img src="<%= image %>" alt="Image <% index + 1 %>" class="img-thumbnail me-2" style="width: 80px; cursor: pointer;" onclick="changeMainImage(this)">
          <%})%>
           
        </div>   
        <%}else{%>
          <p>No image</p>
        <%}%>
      </div>
    
      <!-- Product Information -->
      <div class="col-md-6">
        <h2 class="mb-3"><%=product.productName%></h2>
        <p class="description"><%=product.description%></p>
    
        <!-- Quantity Selection -->
        <div class="d-flex align-items-center mb-3">
          <label for="quantity" class="me-2">Quantity:</label>
          <input type="number" id="quantity" value="1" min="1" class="form-control w-25 quantity-input" style="box-shadow: none;">
        </div>
        <%if(product.productOffer){%>
          <p class="offer-details">Offer: <span style="color: #2e021f;"> <%=product.productOffer.name%> </span> - <span style="color: green;"><%= product.productOffer.discountPercentage%> %off</span></p>
      <%}%>
      <p class="Price h4"><i class="fa-solid fa-indian-rupee-sign"></i><%=product.salePrice%></p>
        <div class="d-flex">
          <p class="stock me-4"><b>Stock: </b><%=product.quantity%> </p> 
          <%if(product.status === 'Available'){%>
            <p class="available" style="color: green;"><%=product.status%></p>
          <%}else{%>
            <p class="status" style="color: red;"><%=product.status%></p>
          <%}%>

        </div>

        
        
        <!-- Buttons -->
        <a href="javascript:void(0);" onclick="addToCart('<%= product._id%>')" class="btn btn-primary" style="border-radius: 8px;"><i
          class="fas fa-shopping-cart mr-2"></i>Add to Cart</a>
        <button class="btn buyNow-btn" style="display: none;">Buy Now</button>
      </div>
    </div>

    <div class="row"> 
      <!-- Product Details Section -->
      <div class="col-lg-6 col-md-6 col-sm-12 p-4 mt-5 product-details-section">
        <h4 class="mb-3 product-info">Product Details</h4>
        <ul>
          <li>Material: 100% Cotton Yarn</li>
          <li>Size: <%=product.size%></li>
          <li>Color: <%=product.color%></li>
          <li>Suitable for ages 3 and up</li>
        </ul>
      </div>
      <!-- Delivery Services Section -->
      <div class="col-lg-6 col-md-6 col-sm-12 mt-lg-5 mt-md-5 mt-0 delivery-services-section">
        <h4 class="mb-3 delivery-info">Delivery Services</h4>
        <ul style="list-style: none;">
          <li><i class="fas fa-shipping-fast"></i> Free Delivery</li>
          <li><i class="fas fa-clock"></i> Delivery within 6 days</li>
          <li style="display: noen;"><i class="fas fa-ban" style="color: rgb(187, 4, 4);"></i> No Return Option</li>
         <li> <i class="fa-solid fa-rotate-right"></i> 10 Days Return Policy</li>

        </ul>
      </div>

      <div class="review-section p-5 mt-5 col-md-12" >
        <div class=" d-flex ">
          <h2 class="me-4">Review:</h2>
          <a href="/review?id=<%=product._id%>" class=" btn star-rating">
            <span style="font-size: 2rem;  color: #ffcc00;">&#9733; &#9733; &#9733;</span>
            <span style="font-size: 2rem; color: #ccc;"> &#9733; &#9733;  
          </span>
          <span style="font-size: 2rem; margin-left: 10px; color: rgb(109, 107, 107);">  &rarr;</span></a>
  
        </div>
      </div>

    </div>

    

    <!-- Similar Products Section -->
    
    <section id="categories" class=" mt-5" style="border: 1px solid rgba(214, 210, 210, 0.993); border-radius: 10px;">
      <h2 style="font-weight: 600;">Similar Products</h2>
      <div class="row">
       
       <%for(let i=0; i<products.length; i++){%>

       <div class="col-md-2">
          <div class="card shadow">
           <div class="product-img-zoom">
             <a href="/productDetails?id=<%=products[i]._id%>">
               <img src="<%=products[i].productImage[0]%>" class="card-img-top" alt="<%=products[i].productName%>">
             </a>
           </div>
            <div class="card-body">
              <h5 class="card-title"><span><%=products[i].productName%></span></h5>
              <p class="card-text category-description "><%=products[i].description%></p>
              
              <p class="product-card-price"><i class="fa-solid fa-indian-rupee-sign" style="font-size: .989rem;"></i><span style="font-size: .999rem;"><%=products[i].salePrice.toLocaleString('en-IN')%></span> <span class="text-muted" style="font-size: .899rem;"><strike><i class="fa-solid fa-indian-rupee-sign" style="font-size: .876rem;"></i><%=products[i].regularPrice.toLocaleString('en-IN')%></strike></span>
                <%if(products[i].productOffer && new Date(products[i].productOffer.startDate) <= new Date() && new Date(products[i].productOffer.endDate) >= new Date() && products[i].productOffer.status === 'Active'){%>
                  <span style="font-size: .756rem; color: green;"><%= products[i].productOffer.discountPercentage%> %off</span>
                 <%}%> 
              </p>

              <%if( wishlist.includes(products[i]._id.toString()) ){%>
                   <a class="wishlist-btn" href="/addToWishlist?productId=<%=products[i]._id%>" style="color: red;" >♡</a>
              <%}else{%>
                  <a class="wishlist-btn" href="/addToWishlist?productId=<%=products[i]._id%>" >♡</a>
              <%}%>

              <%if(products[i].quantity === 0){%>
                 <p><b><%=products[i].status%></b></p>
               <%} else {%>

                 <a href="javascript:void(0);" onclick="addToCart('<%= products[i]._id%>')" class="btn btn-primary" style="border-radius: 8px;"><i
                   class="fas fa-shopping-cart mr-2"></i>Add to Cart</a>
               <%}%>
            </div>
          </div>
        </div>

        <%}%>
        
      </div>
    </section>
  </div>

  <script>
    function changeMainImage(thumbnail) {
  const mainImage = document.getElementById('mainProductImage');
  const imageZoom = document.getElementById('imageZoom');
  
  // Change the main image src
  mainImage.src = thumbnail.src;
 
      // Reinitialize elevate zoom on the new image
      $(mainImage).elevateZoom({
        zoomType: 'inner',
        cursor: 'crosshair',
        scrollZoom: true
      });

}

$(document).ready(function() {
      // Initialize elevate zoom on page load
      $('#mainProductImage').elevateZoom({
        zoomType: 'inner',
        cursor: 'crosshair',
        scrollZoom: true
      });
    });


  //Add to cart
  
  function addToCart(productId){
      fetch(`/addToCart?productId=${productId}`,{
        method: 'GET',
        credentials: 'same-origin'
      })
      .then(response =>{
        if(response.ok){
          console.log('Product added to cart');
          return response.json();
        }else{
          console.error('Failed to add product to cart');
        }
      })
      .then(data =>{
        console.log('Product added to cart');
        document.getElementById('cart-quantity').textContent = data.cartQuantity; 
       
      })
      .catch(error =>{
        console.error('Error: ',error);
      })
    }


    
    document.querySelectorAll('.wishlist-btn').forEach(button => {
    button.addEventListener('click', function(event) {
      event.preventDefault();

      const productId = new URL(this.href).searchParams.get('productId');
      console.log('Product Id: ',productId);

      fetch(`/addToWishlist?productId=${productId}`, {
        method: 'GET',
        credentials: 'same-origin'
      })
      .then(response => {
        if (response.ok) {
          return response.json();
        } else {
          console.error('Failed to update wishlist');
        }
      })
      .then(data => {
        if (data.added) {
          this.style.color = 'red';
        } else {
          this.style.color = '';
        }
      })
      .catch(error => {
        console.error('Error: ', error);
      });
    });
  });


  </script>
  

 
  <%-include("../../views/partials/user/user-footer")%>