<%-include("../../views/partials/user/user-header")%>

<link rel="stylesheet" href="/stylesheets/shop.css">



  <section>
    <div class="container-fluid">
      
      <div class="d-flex  ">
       <div class="col-md-6">
        <h6 class="mt-4" style="color: rgb(107, 109, 109); font-family: Arial, Helvetica, sans-serif;">Products</h6>
       </div>
       <div class="mt-4 col-md-6 text-end ">
        <a href="/shop" class="btn btn-outline-primary ">All</a>
       </div>
      </div>
      <!-- Dropdown Section -->
      <div class="container-fluid mt-4 d-flex justify-content-between">

        <!-- Category Dropdown -->
        <div class="dropdown">
          <button class="btn dropdown-btn dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown"
            aria-expanded="false">
            Category
          </button>
          <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
            <%for(let i=0;i<category.length; i++){%>
              <li><a class="dropdown-item" href="/filter?category=<%=category[i]._id%>&gt=<%= query.gt %>&lt=<%= query.lt %>/filter?category=<%= category[i]._id %>&gt=<%= query.gt || '' %>&lt=<%= query.lt || '' %>"><%=category[i].name%></a></li>
            <%}%>
          </ul>
        </div>

        <!-- Filter Dropdown -->
        <div class="dropdown">
          <button class="btn dropdown-btn  dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown"
            aria-expanded="false">
            Filter by Price
          </button>
          <ul class="dropdown-menu" aria-labelledby="filterDropdown" >
            <li><a class="dropdown-item" href="/filter?gt=0&lt=300&category=<%= query.category || '' %>">Under 300</a></li>
            <li><a class="dropdown-item" href="/filter?gt=300&lt=600&category=<%= query.category || '' %>"><i class="fa-solid fa-indian-rupee-sign"></i>300 - <i class="fa-solid fa-indian-rupee-sign"></i>600</a></li>
            <li><a class="dropdown-item" href="/filter?gt=600&lt=900&category=<%= query.category || '' %>"><i class="fa-solid fa-indian-rupee-sign"></i>600 - <i class="fa-solid fa-indian-rupee-sign"></i>900</a></li>
            <li><a class="dropdown-item" href="/filter?gt=900&lt=10000&category=<%= query.category || '' %>">Above <i class="fa-solid fa-indian-rupee-sign"></i>900</a></li>
            
          </ul>
        </div>
      </div>

      <!--Product session-->

      <section id="products">

        <div class="product-cards-container">
            <%for(let i=0; i<products.length; i++){%>
              <div class="product-card">
                <a href="/productDetails?id=<%=products[i]._id%>">
                  <img src="<%=products[i].productImage[0]%>" class="product-card-img" alt="<%=products[i].productName%>">
                </a>
                <div class="product-card-body">
                  <h5 class="product-card-title"><%=products[i].productName%></h5>
                  <p class="product-card-text"><%=products[i].description%></p>
                  <p class="product-card-price"><i class="fa-solid fa-indian-rupee-sign"></i><%=products[i].salePrice.toLocaleString('en-IN')%> <span class="text-muted" style="font-size: 1rem;"><strike><i class="fa-solid fa-indian-rupee-sign" style="font-size: .889rem;"></i><%=products[i].regularPrice.toLocaleString('en-IN')%></strike></span>
                    <% if (products[i].productOffer && new Date(products[i].productOffer.startDate) <= new Date() && new Date(products[i].productOffer.endDate) >= new Date() && products[i].productOffer.status === 'Active') { %>
                      <span style="font-size: .876rem; color: green;"><%= products[i].productOffer.discountPercentage %> % off</span>
                    <% } %>
                  </p>

                  <%if( wishlist.includes(products[i]._id.toString()) ){%>
                    <a class="wishlist-btn" href="/addToWishlist?productId=<%=products[i]._id%>" style="color: red;" >♡</a>
               <%}else{%>
                   <a class="wishlist-btn" href="/addToWishlist?productId=<%=products[i]._id%>" >♡</a>
               <%}%>
               
                  <a href="javascript:void(0);" onclick="addToCart('<%= products[i]._id%>')" class="btn btn-primary" style="border-radius: 8px;"><i
                      class="fas fa-shopping-cart mr-2"></i>Add to Cart</a>
                </div>
              </div>
            <%}%>

            <%if(products.length < 1){%>
              <div class="mt-5 mb-5">
                <p style="color: red;"><b>No products</b></p>
              </div>
          
            <%}%>  
        </div>

       <div class="d-flex justify-content-center mt-4">
        <div class="pagination">
          
          <% if (currentPage > 1) { %>
            <a class="btn" href="/shop?page=<%= currentPage - 1 %>">Prev</a>
          <% } %>
     
     
          <% for (let i = 1; i <= totalPages; i++) { %>
            <a class="btn <%= currentPage === i ? 'active' : '' %>" href="/shop?page=<%= i %>"><%= i %></a>
          <% } %>
     
     
          <% if (currentPage < totalPages) { %>
            <a class="btn" href="/shop?page=<%= currentPage + 1 %>">Next</a>
          <% } %>
        </div>
       </div>
      </section>



    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
    

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll('.dropdown-submenu .dropdown-toggle').forEach(function (element) {
        element.addEventListener('click', function (e) {
          e.stopPropagation();
          var submenu = this.nextElementSibling;
          submenu.classList.toggle('show');
          submenu.addEventListener('click', function (e) {
            e.stopPropagation();
          });
        });
      });
    });

    


    function addToCart(productId){
      fetch(`/addToCart?productId=${productId}`,{
        method: 'GET',
        credentials: 'same-origin'
      })
      .then(response =>{
        if(response.ok){
          console.log('Product added to cart');
          return response.json();
        }else{
          console.error('Failed to add product to cart');
        }
      })
      .then(data =>{
        console.log('Product added to cart');
        document.getElementById('cart-quantity').textContent = data.cartQuantity; 
      })
      .catch(error =>{
        console.error('Error: ',error);
      })
    }

    
    document.querySelectorAll('.wishlist-btn').forEach(button => {
    button.addEventListener('click', function(event) {
      event.preventDefault();

      const productId = new URL(this.href).searchParams.get('productId');
      console.log('Product Id: ',productId);

      fetch(`/addToWishlist?productId=${productId}`, {
        method: 'GET',
        credentials: 'same-origin'
      })
      .then(response => {
        if (response.ok) {
          return response.json();
        } else {
          console.error('Failed to update wishlist');
        }
      })
      .then(data => {
        if (data.added) {
          this.style.color = 'red';
        } else {
          this.style.color = '';
        }
      })
      .catch(error => {
        console.error('Error: ', error);
      });
    });
  });

  </script>
  
<%-include("../../views/partials/user/user-footer")%>