<%-include("../../views/partials/user/user-header")%>

<link rel="stylesheet" href="/stylesheets/userAccount.css">
  
  <div class="container track mt-5">
    <h2 class="mb-4 text-center">Track Your Order</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Order ID: <b><%=order.orderId%></b></h5>
                    
                    
                    
                    <ul class="timeline" >
                        <li class="timeline-item" data-status="placed">
                            <span class="timeline-content"> <b>Order Placed</b>  : </span>
                            <span class="timeline-date"><%= order.formattedCreatedAt %></span>
                            
                        </li>
                        
                        <%if(order.status === 'Pending'){%>
                            <li class="timeline-item" data-status="shipped">
                                <span class="timeline-content"><b>Order Packing:  <span style="color: rgb(255, 166, 0);"> Pending</span> </b></span>
                            </li>
                            <li class="timeline-item" data-status="shipped">
                                <span class="timeline-content"><b>Order Shipping:  <span style="color: rgb(255, 166, 0);"> Pending</span> </b> </span>
                                
                            </li>
                            
                            <li class="timeline-item" data-status="shipped">
                                <span class="timeline-content"><b>Expected Delivery Date: </b> <%= order.formattedDeliveryDate%></span>
                            </li>
                        <%}%>
                        <%if(order.status === 'Shipped'){%>
                            <li class="timeline-item" data-status="shipped">
                                <span class="timeline-content"><b>Order Packed</b></span>
                            </li>
                            <li class="timeline-item" data-status="shipped">
                                <span class="timeline-content"><b>Order Shipped </b> </span>
                                
                            </li>
                        
                            <li class="timeline-item" data-status="shipped">
                                <span class="timeline-content"><b>Expected Delivery Date: </b> <%= order.formattedDeliveryDate%></span>
                            </li>
                        <%}%>
                        <%if(order.status === 'Delivered'){%>
                            <li class="timeline-item" data-status="delivered">
                                <span class="timeline-content"><b>Order Shipped </b> </span>
                                </li>
                            <li class="timeline-item" data-status="delivered">
                                <span class="timeline-content"><b>Order Packed</b></span>
                            </li>
                            <li class="timeline-item" data-status="delivered">
                                <span class="timeline-content" style="color: green;"> <b>Delivered</b> : </span>
                                <span class="timeline-date"><%= order.formattedDeliveryDate %></span>
                                
                            </li>
                            <%if(currentDate <=order.formattedReturnExpireDate){%>
                            <li class="timeline-item" data-status="delivered">
                                <span class="timeline-content" style="color: rgb(179, 6, 6);"> <b>Return option expire on</b> : </span>
                                <span class="timeline-date"><%= order.formattedReturnExpireDate %></span>

                                
                            </li>
                            <%}%>
                        <%}%>
                        <%if(order.status === 'Return Request' || order.status === 'Approved Return Request' || order.status === 'Returned'){%>
                            <li class="timeline-item" data-status="Return">
                                <span class="timeline-content"><b>Order Shipped </b> </span>
                                </li>
                            <li class="timeline-item" data-status="Return">
                                <span class="timeline-content"><b>Order Packed</b></span>
                            </li>
                            <li class="timeline-item" data-status="Return">
                                <span class="timeline-content" style="color: green;"> <b>Delivered</b> : </span>
                                <span class="timeline-date"><%= order.formattedDeliveryDate %></span>
                                
                            </li>
                            <li class="timeline-item" data-status="Return">
                                <span class="timeline-content" style="color: rgb(128, 0, 0);"> <b>Return</b> : </span>
                                <span class="timeline-date"><%= order.status %> on <%= order.formattedUpdatedAt%></span>
                                
                            </li>
                        <%}%>
                    </ul>
                </div>
            </div>
           <div class="d-flex justify-content-center">
            <a class="btn btn-primary w-40" href="/orders">Back to Orders</a>
           </div>
        </div>
    </div>
</div>



      
    

 

<%-include("../../views/partials/user/user-footer")%>

 
